#principal{                             /*Principal es el main, donde estan las publicaciones y el sidebar */
    width: 100%;                         /* ancho del 80% del body*/
    height: auto; overflow:hidden;      /* hace que si sobre sale algo se oculte*/
    border: solid rgba(0, 0, 0, 0) 1px;          /* borde de principal de 80%*/
    margin: 10px auto;                  /*margen superior de 10px y centrado*/
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);;
}



.container {
    width: 100%;
    margin:auto; /* Centrar el contenedor */
    margin-bottom: 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de tamaño igual */
    grid-gap: 25px; /* Espaciado entre elementos de la cuadrícula */
    padding: 4%;
    border: solid rgba(0, 0, 0, 0);
}


.item {
    text-align: center;
    background: #eee8e8d9;              /*fondo blanco*/
    box-shadow: 0px 0px 30px #5601c5b6; /*sombra inferior de 10px gris*/
    border-left-style: solid;           /* estilo de borde izquierdo solido*/
    border-left-width: 8px;             /* tamaño del borde izquierdo de 5px*/
    border-left-color: #03c700;       /*color del borde izquierdo azul*/
    border-radius: 20px;
    width: 90%;
    margin: auto;
    height: 100%;
}


.item:hover{
    box-shadow: 0px 0px 30px rgba(88, 66, 178, 0.913);
    transform: scale(1.05);
    transition: 0.4s all ease-in-out;
    box-shadow: 0px 0px 20px #ffffffa5; /*sombra inferior de 10px gris*/
} 


img {
    width: 40%; /* Imágenes dentro del contenedor */
    border-radius: 10px; /* Borde redondeado */
    padding: 5%;
    padding-left: 25%;
    padding-right: 25%;
    margin: auto;
}